.accordion3{
  font-size: 2.4rem;
  h2{
    font-weight: bold;
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  .item{
    margin-bottom: 4rem;
    .title{
      font-size: 2.8rem;
      font-weight: bold;
      margin-bottom: 1.6rem;
      cursor: pointer;
    }
    .content{
      //transition: transform 1s;
      //transform: translate(0, 0px);

      overflow: hidden;

      .content__body{
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
        max-height: 0px;
      }
    }

    &._active{
      .content{
        .content__body{
          transition: max-height 5s;
          max-height: 3000px;
        }

      }
    }
  }

}
