.details2
    .item
        details
            summary Университет details
                .plus-close
                    span
            .content
                p Скандинавская мифология — мифология древних скандинавов
                .item_sub
                    details
                        summary 1.1
                            .plus-close
                                span
                        .content
                            p Скандинавская мифология — мифология древних скандинавов
                            .item_subsub
                                details
                                    summary 1.1.1
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.2
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.3
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.4
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов

                    details
                        summary 1.2
                            .plus-close
                                span
                        .content
                            p Основным источником сведений о ней являются тексты поэтической
                    details
                        summary 1.3
                            .plus-close
                                span
                        .content
                            p Скандинавская мифология — мифология древних скандинавов

        details
            summary Университет details
                .plus-close
                    span
            .content
                p Скандинавская мифология — мифология древних скандинавов
                .item_sub
                    details
                        summary 1.1
                            .plus-close
                                span
                        .content
                            p Скандинавская мифология — мифология древних скандинавов
                            .item_subsub
                                details
                                    summary 1.1.1
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.2
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.3
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов
                                details
                                    summary 1.1.4
                                        .plus-close
                                            span
                                    p Скандинавская мифология — мифология древних скандинавов

                    details
                        summary 1.2
                            .plus-close
                                span
                        .content
                            p Основным источником сведений о ней являются тексты поэтической
                    details
                        summary 1.3
                            .plus-close
                                span
                        .content
                            p Скандинавская мифология — мифология древних скандинавов