//https://www.youtube.com/watch?v=2xP-HahCtio&t=871s
    // 1:14:02

doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'carousel'
    body
        section.carousel-1
            .container
                .wrapper
                    #btn-left.btn ←
                    #carousel-wrapper.carousel-wrapper
                        #carousel.carousel
                            #item-left.item
                                .card 1
                                .card 1
                                .card 1
                            #item-active.item
                                .card 2
                                .card 2
                                .card 2
                            #item-right.item
                                .card 3
                                .card 3
                                .card 3
                    #btn-right.btn →
