-
    let textLoremTitle = 'What is Lorem Ipsum?';
    let textLorem = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.';


doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'cssBayan'
    body
        .container
            dialog.modal
                .modal__inner
                    h1 dialog - Html-элемент
                    p определение диалогового окна
                    button.closeModal Закрыть


            button.openModal Открыть
            .body
                - for (let i = 1; i <= 50; i++)
                    h2 !{textLoremTitle}
                    p !{textLorem}

