//https://rutube.ru/api/video/5959ba29f80d377af52d33eb18a7f529
//https://rutube.ru/api/video/ {ID} /thumbnail/?redirect=1
//https://rutube.ru/api/video/{id}
//https://rutube.ru/video/5959ba29f80d377af52d33eb18a7f529/?r=wd
    //https://rutube.ru/api/feeds/tnt/?format=api
    //https://rutube.ru/api/video/5959ba29f80d377af52d33eb18a7f529/thumbnail/?redirect=1

-
    const VIDEORUTUBE = [
        {
            'id': '5959ba29f80d377af52d33eb18a7f529',
        },
        {
            'id': '7dfb511a1ad647673bfbbd6b97e8ae7b',
        },
        {
            'id': '3c9aebe8f1fd01399263fc235c839f00',
        },
        {
            'id': '03166df46bce0eb0856a8dcedf82b9f6',
        },
    ];

doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Rutube Video'
    body
        .rutube_video
            .container
                .video-container
                    each item in VIDEORUTUBE
                        .video-block
                            .video-block__inner
                                picture
                                    img(src='https://rutube.ru/api/video/' + item.id + '/thumbnail/?redirect=1')
                                button(class="video-block__button" data-video-id=item.id)
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>
