doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Мои эксперименты'
    body

        .container
            ul
                li
                    a(href="/accordions.html") accordions
                li
                    a(href="/details.html") details
                li
                    a(href="/bayan.html") bayan
                li
                    a(href="/lymphacomplex-program2023.html") lymphacomplex-program2023.pug
                li
                    a(href="/carousel.html") carousel.pug



