doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Мои эксперименты'
    body
        section
            include component/accordions/_accordion4

        section
            include component/accordions/_accordion3

        section
            include component/accordions/_accodion2

        section
            include component/_accordion1


        section
            include component/_details_element3

        section
            include component/_details_element2

        section
            include component/_details_element1

