
.details1{
  summary {
    border: 4px solid transparent;
    outline: none;
    &:focus {
      border-color: black;
    }
    padding: 1rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }
  details {
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
    background: white;
  }
  details summary::-webkit-details-marker {
    display:none;
  }
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }

  .content {
    border-top: none;
    padding: 10px;
    border: 2px solid #888;
    border-top: none;
  }

  p {
    margin: 0;
    padding-bottom: 10px;
    &:last-child {
      padding: 0;
    }
  }
  img {
    max-width: 100%;
  }

}

.details2{
  .items{
    display: flex;
    justify-content: space-around;
  }

  .item_sub{
    margin: 10px 20px 30px;
  }

  body{background: #edf2f7;}
  details{
    display:block;
    background: #fff;
    width:500px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    overflow:hidden;
    margin-bottom: 1.5rem;
  }

  .item_sub details{
    width:400px;
  }

  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;}
  summary {
    display:block;
    padding: .3em 1em .3em .9em;
    border-bottom: 1px solid #e2e8f0;
    font-size:1.4em;
    cursor: pointer;
    position: relative;
  }
  summary:before {
    top: .4em;
    right: .3em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform .5s;
  }
  details[open] > summary:before {
    transform: scale(1,-1);
  }
  summary ~ * {
    padding: 0 1em 10px 1.4em;
  }
  details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
  summary:focus {
    outline:0;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
  }
}

.details3{
  background-color: #3D455F;
  color: #fff;
  //padding: 20px;

  details{
    margin-bottom: 20px;

    display: block;


  }
  summary{
    margin-bottom: 1rem;
    font-size: 3.2rem;
    position: relative;
    display:block;
    cursor: pointer;
    margin-left: 2.5rem;


    //&:before {
    //  top: .4em;
    //  right: .3em;
    //  color: transparent;
    //  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    //  width: 1em;
    //  height: 1em;
    //  content: "";
    //  position: absolute;
    //  transition: transform .5s;
    //}

  }

  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;}



  .burger-menu{
    &__sub{
      &-list{
        margin-left: 20px;
        background-color: red;
      }

      &-sub{
        &-item{

        }

        &-title{
          font-size: 2.4rem;
        }

        &-link{
          font-size: 2.4rem;
        }

        &-section{
          margin-left: 2.5rem;
          &-link{
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}



