.lymphacomplex-program2023{


  .clock{
      &-img{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
      }

      &-text{
        display: inline-block;

      }

      &__wrapper{
        margin: 10px 0;

      }
    }


}